*{
    margin:0;
    padding:0;
}
body{
 background-color: black;
 box-sizing: border-box;
}

.nav-bar{
    width:100%;
    margin:auto;
    padding:10px 0px;
    display:flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    position:fixed;
    z-index: 10;
}
.nav-bar img{
    width:180px;
    cursor: pointer;
    margin-left: 60px;
}
.nav-bar ul li{
    list-style: none;
    font-family: system-ui;
    display:inline-block;
     margin: 0 25px;;
}
.nav-bar ul li a{
    text-decoration: none;
    font-size:10px;
    position:relative;
    font-size: 15px;
    color:white;
}
.nav-bar ul li a::after{
    content:' ';
    width:0;
    height:3px;
    background:rgb(116, 29, 116);
    position:absolute;
    left:0;
    bottom:-6px;
    transition:0.5s;
}
.nav-bar ul li a:hover::after{
    width:100%;
}
.home{
    width:100%;
    height: 100vh;
    background-color: rgb(9, 9, 9);
}

.home-content{
    display:flex;
    justify-content: space-between;
    color:rgb(249, 242, 242);
    padding:30px 70px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding-top:120px;
}
.home-content img{
    width:700px;
    height: 550px;
    margin-right:80px;
}
.content-left{
    padding: 0;
}
.home-content .content-left .h1{
    font-size: 70px;
    color:rgb(27, 73, 139);
    font-weight: 20px;
    margin-top: 20px;
    margin-bottom: 10px;
}
.home-content .content-left .h2{
    font-size: 70px;
    color:rgb(135, 7, 135);
    font-weight: 20px;
    margin-bottom: 10px;
}
.content-left{
    width:800px;
    align-items: center;
    padding-left: 80px;
}
.content-left p{
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    
}

.content-left button{
  width:150px;
  height:45px;
  margin:20px 90px;
  border-radius: 20px;
  font-size: 20px;
  border-color: 5px solid rgba(137, 43, 226, 0.453);
  background-color:rgb(193, 192, 255);
}

.home-content form {
 
  color: rgb(83, 110, 205);
  display:flex;
  flex-direction: column;

}

.home-content .login-input{
    width:400px;
    height:50px;
    margin-top: 30px;
    background-color: black;
    border: none;
    padding-left: 10px;
    border-bottom: 2px solid purple ;
 
}
.login-button{
    background-color: purple;
    color: white;
    width:200px;
    height:50px;
    margin-top: 30px;
    margin-left: 100px;
}
.log-form{
    margin-top: 150px;
    color:rgb(240, 76, 240);
    margin-left:0px;
    font-size: 50px;
}

.tarpaulin{
 background-color: aliceblue;
 text-align: center ;
 width:100%;
 min-height: 100vh;
}
.tarp-img{
    margin-top: 60px;
    width:550px;
    height:600px;
    
}
.brochure{
    width:100%;
   min-height: 100vh;
   padding: 70px ;
    background-color: rgb(25, 8, 68);
    box-sizing: border-box;

}
.container{
    padding: 2rem;
    align-items: center;
}
 .slider-wrapper{
    position: relative;
    max-width: 48rem;
    margin:0 auto;
 }
 .slider{
    width: 1000px;
    height: 75vh;
    display:flex;
    aspect-ratio:14/9;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    box-shadow: 0 1.5rem 3rem -0.75rem hsla(0,0%,0%,0.25); ;
    margin-left: -130px;
}

 .slider img{
    width: 900px;
    flex:1 0 100%;
    scroll-snap-align:start;
 }

 .brochure-btn{
  width: 150px;
  height: 40px;
  border: 1px solid white;
  border-radius: 27px;
  margin: 10px 45%;
  background-color: black;
  color:white
 }
.tshirt{
    display:grid;
    grid-template-columns:1fr 1fr 2fr ;
    justify-content: space-between;
    width: 100%;
    min-height: 100vh;
    background-color: white;
    box-sizing: border-box;
    padding:100px 22px;
}

.tshirt img{
    width:400px;
    height: 500px;
    margin-right: 10px;

}

.tshirt-txt{
    margin-left: 40px;
    font-size:40px;
    font-family:Verdana, Geneva, Tahoma, sans-serif ;
    text-align: left;
    font-weight: 100px;
    color:rgb(34, 61, 110);
    margin-top: 50px;
}
.tshirt-txt .price{
    font-size: 95px;
    text-align: center;
    color:rgb(176, 42, 163);
}
.tshirt-txt .line1{
    text-align: center;
}
.tshirt-txt .line2{
    color:rgb(58, 26, 126);
    text-align: center;
}
.tshirt button{
    width:180px;
    height:50px;
    font-size: 20px;
    border:2px solid purple;
    color:rgba(128, 0, 128, 0.771);
    border-radius: 8px;
    margin-left: 190px;
    margin-top:20px;
}
.course-container{
    display: flex;
   margin-top: 10px;
   justify-content: center;
   padding: 30px;
}
.course{
    width:300px;
    height:300px;
    border:1px solid gray;
    margin-left: 35px;
    text-align: center;
}
    
.fa-microsoft{
    color:rgb(11, 11, 100);
    margin:20px ;
}
.fa-pen-nib{
    color:rgb(109, 7, 75);
    margin:20px ;
}
.fa-wrench{
    color:rgb(45, 3, 60);
    margin:20px ;
}
.ms h3{
    color:rgb(66, 66, 239);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.ad h3{
    color:rgb(136, 29, 94);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.it h3{
    color:rgb(127, 15, 131);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}


.course p {
    color:white;
    text-align: center;
    font-size: 14px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin-top: 10px;
    
}
.ms button{
    color:white;
    background-color: rgb(0, 7, 9);
    width:70px;
    height: 30px;
    border: 2px solid rgb(129, 129, 234) ;
    border-radius: 3px;
    margin-top: 30px;

}
.ad button{
    color:white;
    background-color: rgb(0, 7, 9);
    width:70px;
    height: 30px;
    border: 2px solid rgb(216, 35, 147) ;
    border-radius: 3px;
    margin-top: 20px;
}

.it button{
    color:white;
    background-color: rgb(0, 7, 9);
    width:70px;
    height: 30px;
    border: 2px solid rgb(100, 7, 108) ;
    border-radius: 3px;
    margin-top: 30px;

}
.courses h1{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color:grey;
    text-align: center;
    margin-top: 150px;
    font-size:40px;
}
#contact{
    padding-top:80px;
}
.social-link{

    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
  
}
#contact h1{
    font-size: 40px;
    margin-bottom: 20px;
    text-align: center;
}
 
.social-link a {
    width:80px;
    height: 80px;
    text-align: center;
    text-decoration: none;
    color:rgb(159, 140, 163);
    box-shadow: 0 0 20px 10px rgba(216, 47, 179, 0.1);
    margin:0 30px;
    border-radius: 50%;
    position: relative;
    overflow: hidden;
    transition: transform 0.5s;
    border: 2px solid purple;
}
.social-link a .fa-brands{
    font-size: 30px;
    line-height: 80px;
    position: relative;
    z-index:10;
    transition: color 0.5s;
}
.social-link a::after{
    content:'';
    width:100%;
    height: 100%;
    top:-90px;
    left:0;
    background: linear-gradient(-45deg,rgba(93, 137, 214, 0.744), rgb(116, 8, 126));
    position: absolute;
    transition: 0.5s;
}
.social-link a:hover::after{
    top:0;

}
.social-link a:hover .fa-brands{
    color:rgb(241, 237, 237);
}
.social-link a:hover{
 transform:translateY(-10px);
}


.contact-me{
    text-align: center;
    font-size: 20px;
}
.contact-me h1{
    margin-top: 10px;
}
.contacts p{
    font-size: 20px;
}
.contacts i{
    font-size: 20px;
    color:purple;
}
.email{
   display: flex;
   flex-direction:row;
   gap: 20px;
   margin: 10px 280px;
   text-align: center;
}
.number{
    display: flex;
    flex-direction:row;
    gap: 20px;
    margin: 10px 280px;
    text-align: center;
 }

.form form{
  width:500px;
  margin: 15px auto;
  align-items: center;
  
}
.form form input{
    width:400px;
    height:40px;
    margin-bottom: 10px;
    border-radius: 7px;
    background-color: rgba(237, 21, 237, 0.259);
    border:none;
    padding-left: 15px;
}
.form  textarea{
    width:400px;
    margin-left: 37px;
    margin-right: 35px;
    border-radius: 7px;
    border: px solid purple;
    background-color: rgba(237, 21, 237, 0.259);
    border:none;
    padding:10px;
}
form button{
    width:100px;
    height:30px;
    margin-top: 10px;
    border-radius: 10px;
    border:3px solid purple
   color:purple;
   font-size: 15px;
}
.card1 img{
    width:700px;
    height:400px;
    margin-left: 400px;
    margin-bottom: 50px;
}
.card2 img{
    width:700px;
    height:400px;
    margin-left: 400px;
    margin-bottom: 50px;
}
.card-txt{
    color:white;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: center;
    font-size: 50px;
    margin-bottom: 30px;
}
.icons-wrapper h1{
    color:white;
}
.contact-me h1, p{
    color:white;
    margin-top: 30px;
}
.company-vid{
    margin: 40px 380px;
}

.company h1{
    color:purple;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: center;
    font-size: 40px;
}

.promo-vid{
    margin: 40px 380px;
}

.promo h1{
    color:purple;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: center;
    font-size: 40px;
}
.logo{
        display: flex;
      flex-direction: column;
       background-color: rgb(5, 5, 101);
       height:100vh;
       text-align: center;
}
.logo img{
    width:700px;
    height:600px;
}
.logo-txt{
    font-size:40px;
    color:rgb(152, 75, 197);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}
.FP{
    background-color: rgb(6, 28, 75);
    height:100vh;
    text-emphasis: center;
}
.FP-container{
    display:flex;
  justify-content: center;
}
.FP-container img{
    height:450px;
    margin-top: 100px;
    margin-left: 50px;
    margin-bottom: 30px;
}
.FP h3{
    text-align: center;
    font-size: 50px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color:rgb(70, 200, 209)
}
.ITlogo{
    text-align: center;
    background-color: rgb(32, 1, 38);
    height: 100vh;
}
.ITlogo img{
    width:750px;
    height:500px;
    margin-top: 80px;
    margin-bottom: 30px;
}
.ITlogo h3{
    color:rgb(239, 236, 241);
    font-size: 50px;
    font-family:  -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
